$pallete__primary--dark: #2f406a;
$pallete__primary: #566e8f;
$pallete__primary--light: #a9bfcf;
$pallete__secondary: #eaebee;
$pallete__secondary--light: #d6dcde;


$pallete__fonts--dark: #858485;
$pallete__fonts: #989798;
$pallete__fonts--light: #cccccc;