/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
    font-family:"Jingleberry";
    src:url("Jingleberry.eot?") format("eot"),
    url("Jingleberry.woff") format("woff"),
    url("Jingleberry.ttf") format("truetype"),
    url("Jingleberry.svg#Jingleberry") format("svg");
    font-weight:normal;
    font-style:normal;
}

.btn[data-btn=modal]{
    color: #f7f6f1;
    background-color: #39999c;
    font-family: Jingleberry;
    letter-spacing: .1em;    
}

#exampleModalLabel{
    color: #c7383b;
    font-family: Jingleberry;
    letter-spacing: .1em;    
    text-transform: uppercase;
    font-weight: bold;
}

a.modal__link {
    text-decoration: none;
    cursor: pointer;
    color: $pallete__primary--dark;
    padding: 0.25em;
    &:hover {
        color: $pallete__btn--light;
        background-color: rgba(0, 117, 184, 0.03);
    }
}

// кастомный модал для анализа воды
div[data-modal=body] {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(121, 111, 111, 0.2);
    display: flex;
    transition: all 0.3s ease-out;
    visibility: hidden;
    z-index: 1000;
}

div[data-modal=content] {
    margin-top: -650px;
    transition: all 0.3s ease-out;
    justify-content: center;
    align-items: center;
    z-index: 1500;
}
