//-------------------------step------------------------------//

.fa-play:before {
    margin-left: .3rem;
}

/* Steps */
.step {
    list-style: none;
    margin: 0;
}

.step-element {
    display: flex;
    padding: 1rem 0;
}

.step-number {
    position: relative;
    width: 7rem;
    flex-shrink: 0;
    text-align: center;
}

.step-number .number {
    color: #bfc5ca;
    background-color: #eaeff4;
    font-size: 1.5rem;
}

.step-number .number {
    width: 48px;
    height: 48px;
    line-height: 48px;
}

.number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    border-radius: 10rem;
}

.step-number::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 48px;
    bottom: -2rem;
    margin-left: -1px;
    border-left: 2px dashed #eaeff4;
}

.step .step-element:last-child .step-number::before {
    bottom: 1rem;
}

.conection {

    height: 100vh;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;


    @media (max-width:375px) {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    @media (max-height:375px) {
        margin-top: 250px;
    }

    &__title {
        font-weight: 500;
        font-style: italic;
    }

}

section.contacts {
    height: 100vh;

    @media (max-width:375px) {
        margin-top: 150px;
    }

    @media (max-height:375px) {
        margin-top: 250px;
    }

    &__title {
        font-weight: 500;
        font-style: italic;
    }

    & button.btn {
        font-weight: bold;
        background-color: $pallete__primary--light;
        border: 2px solid $pallete__primary--light;
        color: #fff;

        &:hover {
            opacity: .75;
        }
    }


}