@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("./fonts/#{$file_name}.woff") format("woff"), url("./fonts/#{$file_name}.woff2") format("woff2"), url("./fonts/#{$file_name}.ttf") format("ttf");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}


//-------------------------IMPORT------------------------------//
@import '_color.scss';
@import '_basis.scss';
@import '_modal.scss';
@import '_header.scss';
@import '_about.scss';
@import '_direction.scss';
@import '_partners.scss';
@import '_step.scss';
@import '_analysis.scss';
@import 'fonts.scss';

//-------------------------IMPORT------------------------------//

