* {
  color: #989798;
  font-family: 'Raleway', sans-serif;
}

*::-moz-selection {
  color: #cccccc;
}

*::selection {
  color: #cccccc;
}

button.btn,
a.btn,
div.btn {
  font-weight: bold;
  background-color: #a9bfcf;
  border: 2px solid #a9bfcf;
  color: #fff;
}

button.btn:hover,
a.btn:hover,
div.btn:hover {
  opacity: .75;
  color: #fff;
}

.hide {
  display: none;
}

header .bg-image .text-title {
  color: #ffffff;
}

header button.btn.header__btn {
  font-weight: bold;
  font-size: 24px;
}

header button.btn.header__btn:hover {
  background-color: rgba(255, 255, 255, 0.35);
}

header .navbar-tel {
  font-size: 24px;
}

header .navbar-tel :hover {
  opacity: .55;
}

header .navbar ul a {
  font-size: 18px;
}

header .navbar ul a :hover {
  color: #858485;
}

.about {
  height: 100vh;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  font-weight: 500;
  font-style: italic;
}

.direction {
  margin-bottom: 150px;
}

.direction__title {
  color: #858485;
  background: #f6f6f6;
  background: -o-radial-gradient(circle, rgba(246, 246, 246, 0.95) 56%, rgba(159, 188, 228, 0.15) 97%);
  background: radial-gradient(circle, rgba(246, 246, 246, 0.95) 56%, rgba(159, 188, 228, 0.15) 97%);
  width: 100%;
}

.direction__title--general {
  font-weight: 500;
  font-style: italic;
}

.direction__row {
  margin: 0;
}

.direction__item {
  height: 150px;
  margin: 10px;
  padding: 0;
}

.direction__item--cottage {
  background-image: url(../media/cottage.jpg);
}

.direction__item--flat {
  background-image: url(../media/flat.jpg);
  background-repeat: no-repeat;
  background-position-y: -50px;
}

.direction__item--house-hold {
  background-image: url(../media/house-hold.jpg);
  background-repeat: no-repeat;
  background-position-y: -100px;
}

.direction__item--water-analysis {
  background-image: url(../media/water-analysis.jpg);
}

.direction__item--protection-of-engineering-networks {
  background-image: url(../media/protection-of-engineering-networks.jpg);
}

.direction__item--installing-purifiers {
  background-image: url(../media/installing-purifiers.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.direction__item--small-business {
  background-image: url(../media/small-business.jpg);
}

.direction__item--for-enterprises {
  background-image: url(../media/for-enterprises.jpg);
  background-repeat: no-repeat;
  background-position-y: -50px;
}

.direction__item--for-heat-and-power-industry {
  background-image: url(../media/for-heat-and-power-industry.jpg);
  background-repeat: no-repeat;
  background-position-y: -150px;
}

.direction__link {
  background-color: rgba(213, 219, 221, 0.35);
}

#carouselExampleSlidesOnly img {
  height: 50px;
}

#carouselExampleSlidesOnly .carousel__inner {
  margin: 25px auto;
}

.fa-play:before {
  margin-left: .3rem;
}

/* Steps */

.step {
  list-style: none;
  margin: 0;
}

.step-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
}

.step-number {
  position: relative;
  width: 7rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
}

.step-number .number {
  color: #bfc5ca;
  background-color: #eaeff4;
  font-size: 1.5rem;
}

.step-number .number {
  width: 48px;
  height: 48px;
  line-height: 48px;
}

.number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  border-radius: 10rem;
}

.step-number::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 48px;
  bottom: -2rem;
  margin-left: -1px;
  border-left: 2px dashed #eaeff4;
}

.step .step-element:last-child .step-number::before {
  bottom: 1rem;
}

.conection {
  height: 100vh;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conection__title {
  font-weight: 500;
  font-style: italic;
}

section.contacts {
  height: 100vh;
}

section.contacts__title {
  font-weight: 500;
  font-style: italic;
}

section.contacts button.btn {
  font-weight: bold;
  background-color: #a9bfcf;
  border: 2px solid #a9bfcf;
  color: #fff;
}

section.contacts button.btn:hover {
  opacity: .75;
}

.calc {
  font-size: 1rem;
}

.calc__label {
  text-align: left;
  color: #858485;
}

.calc__select,
.calc__input {
  height: 35px;
  padding: 5px 7px;
  border: 2px solid #a9bfcf;
  text-align: right;
  color: #566e8f;
}

.calc__select:hover,
.calc__input:hover {
  -webkit-box-shadow: 0 0 7px 3px #bccdda8a;
          box-shadow: 0 0 7px 3px #bccdda8a;
  background-color: #c0d9e71a;
}

.calc__select:focus,
.calc__input:focus {
  border: 2px solid #5378928a;
}

.calc__select:active,
.calc__input:active {
  border: 2px solid #5378928a;
}

@font-face {
  font-family: "Raleway-Bold";
  font-display: swap;
  src: url("./fonts/Raleway-Bold.woff") format("woff"), url("./fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Regular";
  font-display: swap;
  src: url("./fonts/Raleway-Regular.woff") format("woff"), url("./fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-MediumItalic";
  font-display: swap;
  src: url("./fonts/Raleway-MediumItalic.woff") format("woff"), url("./fonts/Raleway-MediumItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Thin";
  font-display: swap;
  src: url("./fonts/Raleway-Thin.woff") format("woff"), url("./fonts/Raleway-Thin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 375px) {
  header #intro video {
    display: none;
  }

  header .mask {
    background: -o-linear-gradient(45deg, rgba(29, 236, 197, 0.7), rgba(91, 14, 214, 0.7) 100%);
    background: linear-gradient(45deg, rgba(29, 236, 197, 0.7), rgba(91, 14, 214, 0.7) 100%);
  }

  .about {
    margin-top: 250px;
  }

  .direction {
    margin-top: 350px;
  }

  section.partners {
    margin-top: 250px;
  }

  #carouselExampleSlidesOnly img {
    margin: 15px auto;
  }

  .conection {
    margin-top: 150px;
    margin-bottom: 150px;
  }

  section.contacts {
    margin-top: 150px;
  }
}

@media (max-height: 375px) {
  .about {
    margin-top: 250px;
  }

  .direction {
    margin-top: 350px;
  }

  section.partners {
    margin-top: 350px;
  }

  #carouselExampleSlidesOnly img {
    margin: 15px auto;
  }

  .conection {
    margin-top: 250px;
  }

  section.contacts {
    margin-top: 250px;
  }
}
@supports (-webkit-appearance:none){
.direction__item--cottage{background-image:url(../media/cottage.webp)}
.direction__item--flat{background-image:url(../media/flat.webp)}
.direction__item--house-hold{background-image:url(../media/house-hold.webp)}
.direction__item--water-analysis{background-image:url(../media/water-analysis.webp)}
.direction__item--protection-of-engineering-networks{background-image:url(../media/protection-of-engineering-networks.webp)}
.direction__item--installing-purifiers{background-image:url(../media/installing-purifiers.webp)}
.direction__item--small-business{background-image:url(../media/small-business.webp)}
.direction__item--for-enterprises{background-image:url(../media/for-enterprises.webp)}
.direction__item--for-heat-and-power-industry{background-image:url(../media/for-heat-and-power-industry.webp)}
}

 @media (max-width: 375px){

@supports (-webkit-appearance:none){

}

}

 @media (max-height: 375px){

@supports (-webkit-appearance:none){

}

}
